@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&family=Press+Start+2P&display=swap');
@import '../../../../assets/styles/variables.scss';

section {
  margin-top: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 200;
  color: $majestic-purple;
  margin-bottom: 1rem;
}

.search {
  margin-bottom: 3rem;
}

.form-control-lg {
  width: 400px;
  box-shadow: none;
}

.form-control-lg:focus {
  border: solid 3px $majestic-purple;
}

input {
  text-align: center;
}

input::placeholder {
  font-size: 1rem;
  text-align: center;
  color: $light-purple;
}

.message {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: $majestic-purple;

  p {
    font-weight: 800;
    font-size: 1.8rem;
    padding: 0.5rem 0;
    color: $dark-purple;
  }
}
