img {
  padding: 5px;
  min-width: 198px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--pink-02);
}

.card {
  display: flex;
  flex-direction: row;
  width: 384px;
  height: 320px;
  filter: drop-shadow(1.3px 1.3px 5px rgba(0, 0, 0, 0.2));
  margin: 10px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  background-color: var(--pink-02);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-information {
  padding: 7px 10px 7px 10px;
  background: var(--pink-02);
  border-radius: 0px 8px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

.title {
  color: var(--title);
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  margin-top: 10px;
}

p {
  margin: 0;
}

.information {
  font-weight: 500;
  font-size: 16px;
  color: var(--yellow-03);
  margin-top: 5px;

}

.result {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}

button {
  color: var(--pink-02);
  background-color: var(--yellow-02);
  font-size: 16px;
  width: 156px;
  height: 40px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

button:hover {
  background-color: var(--pink-02);
  color: var(--yellow-02);
  border: 2px solid var(--yellow-02);
}

