<mat-card class="example-card mat-elevation-z8">
  <div class="card-content" class="blocked-content">
    <img src="{{ book?.thumbnail != undefined ? book?.thumbnail : 'assets/img/not-available.png' }}"
    alt="capa livro">
    <div class="card-text">
      <p class="title">{{ book?.title | slice:0:30 }}</p>
      <hr>
      <p>Autoria:</p>
      <span>{{ book?.authors | firstAuthor | slice:0:17 }}</span>
      <p>Publicado:</p>
      <span>{{ book?.publishedDate | date: 'dd/MM/yyyy' }}</span>
      <p>Editora</p>
      <span>{{ book?.publisher | slice:0:17 }}</span>
      <mat-card-actions>
        <button mat-button (click)="onModal(true)"><i class="bi bi-plus-lg"></i>Detalhes</button>
      </mat-card-actions>
    </div>
  </div>
  <div *ngIf="openModal">
    <app-book-modal [book]="book" (changeModal)="onModal($event)"></app-book-modal>
  </div>
</mat-card>
