.example-card {
  display: flex;
  bottom: 1rem;
  margin: 0.8rem;
  word-wrap: break-word;
  background-color: var(--pink-02);
  transition: transform 0.3s ease;
}

.example-card:hover {
  transform: scale(1.05);
}

.card-content {
  width: 400px;
  height: 280px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

img {
  margin: 0;
  padding: 0;
  border-radius: 4px 0 0 4px;
  min-width: 200px;
}

.card-text {
  min-width: 200px;
  padding: 1rem;
  // flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  hr {
    color: white;
    margin: 8px 0;
  }
}

p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  color: #fff;

  &.title {

    text-align: center;
    margin: 0;
    color: var(--title);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.4rem;
  }
}

span {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--yellow-03);
}

.mdc-card__actions {
  padding: 0px;
  min-height: auto;
  align-items: center;

  button {
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--pink-02);
    background: var(--yellow-02);
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;

    .bi::before,
    [class^="bi-"]::before,
    [class*=" bi-"]::before {
      font-weight: 800 !important;
    }
  }

  button:hover {
    background: none;
    color: var(--yellow-02);
    border: 2px solid var(--yellow-02);
  }
}

@media (max-width: 600px) {
  .example-card {
    bottom: 1rem;
    margin: 1rem;
    width: 320px;
    height: 800px;
  }

  .example-card:hover {
    transform: none;
  }

  .card-content {
    align-items: center;
    max-width: 320px;
    max-height: 450px;
    display: block;
  }

  img {
    display: block;
    flex-direction: row;
    border-radius: 4px 4px 0 0;
    width: 320px;
    height: 450px;
  }

  .card-text {
    margin: 10px 0;
  }

  p {
    font-size: 1rem;
    padding: 8px 0;

    &.title {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }

  span {
    font-size: 1rem;
  }
}
