@import '../../../../assets/styles/variables.scss';

img {
  padding: 5px;
  min-width: 198px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $pink-02;
}

.card {
  display: flex;
  flex-direction: row;
  width: 384px;
  height: 310px;
  filter: drop-shadow(1.3px 1.3px 5px rgba(0, 0, 0, 0.2));
  margin: 10px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
}

// .overlay {
//   border-radius: 8px;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   opacity: 0.3;
//   background-color: black;
// }

// .card:hover .overlay {
//   display: none;
// }

.card-information {
  padding: 7px 10px 7px 10px;
  background: $pink-02;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

.title {
  color: $yellow-01;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  margin-top: 10px;
}

p {
  margin: 0;
}

.information {
  font-weight: 500;
  font-size: 16px;
  color: $yellow-03;
  margin-top: 5px;

}

.result {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}

button {
  color: $pink-02;
  background-color: $yellow-02;
  font-size: 16px;
  width: 156px;
  height: 40px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

button:hover {
  background-color: $pink-02;
  color: $yellow-02;
  border: 2px solid $yellow-02;
}
