<section>
  <p class="message">
    {{ "search.message-01" | translate }}
    <strong>{{ "search.message-02" | translate }}</strong>
    {{ "search.message-03" | translate }}
  </p>

  <div>
    <div class="question">{{ "search.question" | translate }}</div>

    <div class="btn-search">
      <form [formGroup]="form" class="search">
        <input class="form-control form-control-lg" type="text" formControlName="searchField"
          placeholder="Busque por assunto, autoria, nome..." required>
        <mat-error *ngIf="form.controls.searchField?.invalid && form.controls.searchField?.touched">{{ getErrorMessage() }}</mat-error>
      </form>

      <button (click)="btnSearch()" class="btn btn-primary" [disabled]="form.controls.searchField.invalid || isSearching">{{
        "search.button" | translate }}
      </button>
    </div>
  </div>

  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="results" *ngIf="totalBooksWithThumbnail">
    {{ "search.results" | translate }} {{ totalBooksWithThumbnail }}
  </div>

  <div *ngIf="isSearching">
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div class="container-card" *ngIf="bookFound?.length > 0">
    <div *ngFor="let book of bookFound">
      <app-book-card [book]="book"></app-book-card>
    </div>
  </div>
</section>
