section {
  margin-top: 6rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 0.5rem;
}

.search {
  margin-bottom: 1.3rem;
}

.form-control-lg {
  width: 400px;
  box-shadow: none;
  color: var(--pink-01);
}

.form-control-lg:focus {
  border: solid 3px var(--pink-01);
}

input {
  text-align: center;
  border: solid 1px var(--pink-03);
}

input::placeholder {
  font-size: 1rem;
  text-align: center;
  color: var(--pink-03);
}

.message {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.7rem;
  text-align: center;
  color: var(--text);
  margin-bottom: 4rem;

  strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
}

.error-message {
  color: red;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: end;
}

.loading-spinner {
  margin-top: 3rem;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--pink-03);
}

.container-card {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {

  .message {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 3rem;
  }

  .form-control-lg {
    width: 250px;
  }

  .question {
    font-size: 1rem;
  }

  input {
    padding-top: 0;
  }

  input::placeholder {
    font-size: 0.7rem;
  }

}
