section {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  margin-left: 5px;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 0.5rem;
}

.btn-search {
  display: flex;
  justify-content: flex-start;
}

button {
  height: 50px;
  background: var(--pink-01);
  border: none;
}

button:disabled {
  background: var(--pink-03);
  border: none;
}

button:hover {
  background: var(--pink-02);
  border: none;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--pink-01);
  --bs-btn-border-color: var(--pink-01);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--pink-01);
  --bs-btn-hover-border-color: var(--pink-01);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--pink-01);
  --bs-btn-active-border-color: var(--pink-01);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--pink-01);
  --bs-btn-disabled-border-color: var(--pink-01);
}

.search {
  margin-right: 10px;
  margin-bottom: 1.3rem;
}

.form-control-lg {
  width: 400px;
  box-shadow: none;
  color: var(--pink-01);
}

.form-control-lg:focus {
  border: solid 3px var(--pink-01);
}

input {
  height: 50px;
  text-align: start;
  border: solid 1px var(--pink-03);
}

input::placeholder {
  font-size: 1rem;
  text-align: start;
  color: var(--pink-03);
}

.message {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.7rem;
  text-align: center;
  color: var(--text);
  margin: 0 4rem 4rem 4rem;

  strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
}

.error-message {
  color: red;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: end;
}

.loading-spinner {
  margin-top: 3rem;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--pink-03);
}

.container-card {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results {
  margin-bottom: 1rem;
  color: var(--result);
}

.mat-mdc-form-field-error {
  color: var(--error-message);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

@media (max-width: 600px) {

  .btn-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .search {
    margin-right: 0px;
    margin-bottom: 0.5rem;
  }

  .message {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 3rem;
  }

  .form-control-lg {
    width: 250px;
  }

  .question {
    font-size: 1rem;
    margin-left: 0;
    text-align: center;
  }

  input {
    padding-top: 0;
    text-align: center;
  }

  input::placeholder {
    font-size: 0.7rem;
    text-align: center;
  }

  .btn-search {
    width: 250px;
  }

}
