@import '../../../../assets/styles/variables.scss';


.card {
  background-color: $dark-purple;
  display: grid;
  grid-template-areas: "image card-information btn-close" "synopsis synopsis synopsis";
  grid-row-gap: 1rem;
  min-height: 30rem;
  max-height: 80%;
  grid-template-columns: 1fr 3fr 20px;
  grid-template-rows: min-content;
  border-radius: 8px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.5));
  z-index: 12;
  overflow-y: auto;

}

.title {
  color:$book-title;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

.information {
  font-weight: 500;
  font-size: 16px;
  color: $light-purple;
  text-align: justify;
  margin:0;
}

p {
  margin: 0 0 10px 0;
}

.details {
  color: $light-purple;
  background: $majestic-purple;
  width: 9rem;
  height: 2.5rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.details:hover {
  background-color: $dark-purple;
  border: 2px solid $majestic-purple;
}

.card-information {
  padding-left: 1.5rem;
  grid-area: card-information;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
}

.image {
  height: 18rem;
  grid-area: image;
}

.synopsis {
  grid-area: synopsis;
  padding-bottom: 0;
  color: $light-purple;
  max-width: 100%;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 11;
}

.btn-close {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: none;
  grid-area: btn-close;
}

/* Estilo da barra de rolagem */
.card::-webkit-scrollbar {
  width: 10px;
}

.card::-webkit-scrollbar-thumb {
  background: $majestic-purple;
  border-radius: 5px;
}

.card::-webkit-scrollbar-thumb:hover {
  background: $medium-purple;
}

.card::-webkit-scrollbar-track {
  background: $dark-purple;
}
