<section *ngIf="statusModal" class="container {{ hideScroll() }}">
  <div class="card">
    <div class="close">
      <button (click)="closeModal()" mat-mini-fab aria-label="Example icon button with a delete icon">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    </div>
    <img class="image" src="{{ book?.thumbnail != undefined ? book?.thumbnail : 'assets/images/cover-unavailable.png' }}"
      alt="capa livro">
    <div class="card-information">
      <p class="title">{{ book?.title }}</p>
      <p class="information">Autoria:</p>
      <p class="result">{{ book?.authors }}</p>
      <p class="information">Data de publicação: </p>
      <p class="result">{{ book?.publishedDate | date: 'dd/MM/yyyy' }}</p>
      <p class="information">Editora:</p>
      <p class="result">{{ book?.publisher }}</p>
      <button (click)="readPreview()" class="details">Ler prévia</button>
    </div>
    <div class="synopsis">
      <h4 class="information">Sinopse</h4>
      <p class="result-synopsis">{{ book?.description }}</p>
    </div>
  </div>
  <div class="overlay"></div>
</section>
