@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&family=Press+Start+2P&display=swap');
@import './assets/styles/variables.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;

  ::-webkit-scrollbar {
    width: 0;
  }

}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(./assets/img/background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;

}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  margin: 0;
  padding: 0;
}

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
  margin: 0;
}
